@{ ViewData["Title"] = "About Us"; }

<!--Created the About Us page - This will display general description-->

<div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-ride="carousel"> <!-- Added a carousel at the top of the page -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 custom-image" src="~/images/zipper1.jpeg" alt="First slide">  <!--Image 1 location images/-->
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 custom-image" src="~/images/zipper2.jpeg" alt="Second slide"> <!--Image 2 location images/-->
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 custom-image" src="~/images/zipper3.jpeg" alt="Third slide"> <!--Image 3 location images/-->
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="main-content text-center mt-5 p-5"> <!-- Center-align the content -->
    <h1>About Us</h1>
    <p>At ZipperMate, a pioneering zipper manufacturer, our corporate headquarters serves as the epicenter of our innovation. Nestled within our walls are a dedicated team of skilled professionals who share a common goal: to perfect the art of zippers. With a rich heritage of craftsmanship, our journey began with a humble yet indispensable product – zippers. Over the years, our team has meticulously honed their expertise to craft zippers that redefine convenience, durability, and style. From our headquarters, we bring you a wide range of exceptional zipper solutions. Explore the world of ZipperMate, where our commitment to excellence shines through in every stitch and design, ensuring zippers that seamlessly integrate into everyday life.</p>
</div>



