@{ ViewData["Title"] = "About Us"; }

<!--Created the About Us page - This will display general description-->

<h1>About Us</h1>
<p>Welcome to our company. We are a leading provider of zippers, serving customers worldwide.</p>
<p>Our mission is to provide high-quality zippers for various applications...</p>


