@{
    ViewData["Title"] = "Home Page";
}


<div class="main-content">
    <!-- Home page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4 mt-5">Welcome to ZipperMate</h1>
                <p>
                    Welcome to ZipperMate, your one-stop destination
                    for all things zipper-related! We are thrilled to
                    have you here. Whether you're looking for high-quality
                    for your clothing projects, innovative zipper
                    accessories, or expert advice on zipper maintenance,
                    you've come to the right place. At ZipperMate,
                    we take pride in delivering top-notch products and
                    exceptional customer service to ensure your zipping
                    experience is as smooth as can be. Explore our wide
                    range of zipper solutions and discover how we can help
                    you zip up your world. Thank you for choosing ZipperMate,
                    where zippers are our passion!

                </p>
            </div>
        </div>
    </div>

    <div class="text-center mb-3">
        <a href="Zippers">&#128073;Click here to see our catalog&#128072;</a> <!-- Link to catalog -->
    </div>

    <!-- Added my set of cards -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/images/metal.jpeg" class="card-img-top" alt="Metal">
                    <div class="card-body">
                        <p class="card-text custom-text">At ZipperMate, our unwavering dedication to crafting superior zippers hinges on our meticulous selection of high-grade metals. In the intricate world of fasteners, we understand that metal is the very essence of our product. It is the elemental foundation upon which our zippers are built, dictating not only their functional prowess but also their resilience and trustworthiness.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/images/strength.jpeg" class="card-img-top" alt="Strength">
                    <div class="card-body">
                        <p class="card-text custom-text">Our commitment to strength and durability is evident in every detail of our zippers. From the choice of robust materials to the precision engineering of our products, we leave no stone unturned in ensuring they can withstand the test of time and wear.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/images/bag.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text custom-text">ZipperMate zippers are the perfect choice for bags and utility bags, offering unparalleled functionality and reliability. Whether you're using them for everyday carry bags, travel luggage, or specialized utility bags, our zippers are designed to excel in every scenario.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
